<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-sm navbar-inverse">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:href="@{/product/list}">Home</a>
            </li>

            <th:block th:if="${remoteUser} != null">
                <li class="nav-item">
                    <a th:href="@{/security/logoff}" >Sign out</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/order/list}">You orders</a>
                </li>
                <li class="nav-item" th:if="${isDire}">
                    <a th:href="@{/admin/home/index}">Administration</a>
                </li>
            </th:block>

            <th:block th:unless="${remoteUser}">
                <li class="nav-item">
                    <a th:href="@{/security/login/form}">Sign in</a>
                </li>
            </th:block>
        </ul>
        <ul th:if="${remoteUser}" class="nav navbar-nav navbar-right">
            <li><a href="#">Welcome [[${remoteUser}]]</a></li>
        </ul>
    </div>
</nav>
</body>
</html>